@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
/*mobile first  max:  430      */
@media only screen and (max-width: 768px){
/*    body{ /*background
        background-image: url("mobile_bg.png");
        background-size: 100%;
        margin: 0; /*start at top
        padding: 0;
    }
*/
    body{
        background-color: rgb(10, 37, 7);
    }
    .mn{
        text-align: center;
    }
    .tagline{
        color: white;
        font-family: 'Alata', sans-serif;   
        font-size: 40px; 
    }
    .mn b{
        color: rgb(79, 148, 79);
    }
}

/*low res tablet        min:        max:        */


/*high res tablet        min:        max:        */

/*desktop       min:        */
@media only screen and (min-width: 1280px){
    
}